body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.aim {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 50%;
  top: 50%;
  background-image: url(https://vorshen.github.io/simpleFire/aim.png);
  pointer-events: none;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(0.5, 0.5);
}

#fps {
  position: absolute;
  top:0;
  left: 0;
  color: white;
}
